# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
env/
venv/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Allow important files
!*.ipynb
!*.pkl
!*.py
!*.txt
!*.md
